.content__main__img {
    margin-top: 0;
    width: 250%;

}

.content__main {
    margin-bottom: 0;
    object-fit: contain;
    overflow: hidden;
}

.content__main__title {
    font-size: 5vw;
}

.footer__left > .footer__title {
    text-align: center;
}
